nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 20px;
  width: 100%;
}
nav li, nav a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.navitem:hover {
  color: green;
}

.dropdown {
  display: flex;
}
.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
}
.dropdown_content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_content a:hover {
  background-color: blue;
}
