.dropdown{
    float: relative;
    position: relative;
}

.dropdown .dropbtn{
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    min: width 100px;
    z-index: 1;

}
