/* Psudeo link/active/visited/input/hover */

a:link {
    color: red;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
}

a:active {
    color: green
}

a:visited{
    color: hotpink;
    border: 2px solid black;
    text-decoration: underline;
    cursor: not-allowed;
}

input {
    border: 1px solid black;
}

input:required:focus {
    border-color: red
}

input:disabled {
    border-color: yellow;
}

input:optional {
    border-color: darkblue;
    background-color: lightblue
}

input:enabled {
    padding: 20px;
}

input:focus {
    background-color: grey;
}

input:checked {
    height: 50px;
    width: 100px;
    background-color: purple;
}

