/* Psudeos. */
.btn {
    background-color: blue;
}

.btn:hover {
    background-color: red;
}

/* sections first paragraph */
.card > p:first-of-type {
    color: blue;
}

/* last of type */
p:last-of-type {
    color:red
}

.my-container {
    border: 2px solid black;
}

/* nth psudeo */
.card > p:nth-of-type(2) {
    color:purple
}

p:nth-of-type(3) {
    color: green;
}